.wrapper {
}

.container {
  max-width: 1526px;
  margin: 0 auto;

  max-width: 100%;
  padding: 32px 16px;

  @media screen and (min-width: 1248px) {
    max-width: 1248px;
    padding: 48px 24px;
  }

  @media screen and (min-width: 1526px) {
    padding: 64px 0;
    max-width: 1526px;
  }
}

.title {
  //styleName: Display md;
  // font-family: Outfit;
  font-size: 48px;
  font-weight: 600;
  line-height: 60.48px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-transform: capitalize;

  text-align: var(--alignTitle);

  @media screen and (max-width: 920px) {
    text-align: var(--alignTitleMobile);
  }
}

.subtitle {
  // font-family: Outfit;
  font-size: 32px;
  font-weight: 600;
  line-height: 40.32px;
  margin-bottom: 64px;
  text-transform: capitalize;

  text-align: var(--alignSubtitle);

  @media screen and (max-width: 920px) {
    text-align: var(--alignSubtitleMobile);
  }
}

.text {
  margin-bottom: 64px;

  text-align: var(--alignText);

  @media screen and (max-width: 920px) {
    text-align: var(--alignTextMobile);
  }
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  li {
    width: calc((100% - 20px * (var(--columns) - 1)) / var(--columns));
    padding: 32px;

    border: 1px solid blue;
    border-radius: 24px;

    .cardTitle {
      font-size: 24px;
      font-weight: 600;
      line-height: 30.24px;
      text-align: left;
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    li {
      width: 100%;
    }
  }
}

.cardsList.grid32 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  li {
    grid-column: span 2;
    &:nth-of-type(5n),
    &:nth-of-type(5n -1) {
      grid-column: span 3;
    }
  }

  @media screen and (max-width: 768px) {
    li {
      grid-column: span 6;

      &:nth-of-type(5n),
      &:nth-of-type(5n -1) {
        grid-column: span 6;
      }
    }
  }
}
